../.FreeCAD/
	../.PlayOnLinux/
	../.ProfRoleSSH
	../.ProfRoleSSH.pub
	../.adobe/
	../.alxseSSH
	../.alxseSSH.pub
	../.android/
	../.anydesk/
	../.aspell.en.prepl
	../.aspell.en.pws
	../.audacity-data/
	../.bash_history
	../.bash_logout
	../.bashrc
	../.cache/
	../.config/
	../.cxoffice/
	../.emacs.d/
	../.flutter
	../.gitconfig
	../.gnome/
	../.gnupg/
	../.hidden
	../.inputrc
	../.java/
	../.lesshst
	../.local/
	../.m2/
	../.mozilla/
	../.odbc.ini
	../.pki/
	../.profile
	../.python_history
	../.ssh/
	../.sudo_as_admin_successful
	../.vagrant.d/
	../.vagrant/
	../.var/
	../.vnc/
	../.wget-hsts
	../.wine/
	"../C:\\doc/"
	../Desktop/
	../Documents/
	../Downloads/
	
	../IdeaProjects/
	../Music/
	../Pictures/
	../PlayOnLinux's virtual drives
	
	../Templates/
	../UoPeople/
	../Videos/
	../adobe.deb
	
	
	../photorec.se2
	../photorec.ses
	../slf4j-nop-1.7.32.jar
	../snap/
	../test/
	../untitled.xhb
	../zero_day/

